@page "/moviemodels/create"
@using Microsoft.EntityFrameworkCore
@using TodoWebApp.Models
@inject IDbContextFactory<TodoWebApp.Data.MovieAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>MovieModel</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="MovieModel" OnValidSubmit="AddMovieModel" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label> 
                <InputText id="title" @bind-Value="MovieModel.Title" class="form-control" /> 
                <ValidationMessage For="() => MovieModel.Title" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="releasedate" class="form-label">ReleaseDate:</label> 
                <InputDate id="releasedate" @bind-Value="MovieModel.ReleaseDate" class="form-control" /> 
                <ValidationMessage For="() => MovieModel.ReleaseDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="genre" class="form-label">Genre:</label> 
                <InputText id="genre" @bind-Value="MovieModel.Genre" class="form-control" /> 
                <ValidationMessage For="() => MovieModel.Genre" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="price" class="form-label">Price:</label> 
                <InputNumber id="price" @bind-Value="MovieModel.Price" class="form-control" /> 
                <ValidationMessage For="() => MovieModel.Price" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/moviemodels">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private MovieModel MovieModel { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddMovieModel()
    {
        using var context = DbFactory.CreateDbContext();
        context.MovieModel.Add(MovieModel);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/moviemodels");
    }
}
